* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page {
  min-height: 100vh;
  background: url("../img/netflix_bg.jpg");

  .overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar {
    padding: 1.2rem 2rem;
  }
}

.row {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
}

.card {
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  width: 40%;
  transform: translateY(30%);
  margin-top: -50px;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    letter-spacing: 1.3px;
  }

  .input {
    background-color: #333333;
    border: none;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
    color: #eeeeee;

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      border: 1px solid #eeeeee;
    }
  }

  .btn-primary {
    background-color: #e50915;
    padding: 1rem 1.5rem;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1.2px;
    cursor: pointer;
  }

  .checkbox,
  .link {
    font-size: 0.8rem;
  }

  .link {
    color: #eeeeee;
    text-decoration: none;
  }
}

.justify {
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}
